DATABASE_HOST=localhost
DATABASE_USER=
DATABASE_PASSWORD=
DB_ADAPTER=sqlite3

ML_SERVICE_URL=http://localhost:8000
ML_STUB=false
MODEL_PATH=ml_service/resume_model_v2_epoch_3

HH_MOCK=true
HH_USER_AGENT=HRMatcher/1.0 (student@example.com)

RAILS_ENV=development
